h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.WalletMain {
  position: absolute;
  background: rgba(29, 164, 121, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.textheader {
  font-size: 100px;
}
