table {
  border: 1px solid black;
}

.table {
  border: 1px solid black;
  border-collapse: colapso;
  padding: 5px;
}

.table th {
  background: #f0f0f0;
  border: 1px solid black;
  padding: 5px;
}

.table td {
  border: 1px solid black;
  padding: 5px;
}
